.paralax {
  position: relative;
  height: 397px;
  overflow: hidden;
}

.paralax__image {
  width: 1449px;
  object-fit: cover;
  object-position:center;
}

@media screen and (max-width: 700px) {
  .paralax {
    height: 300px;
  }
  
  .paralax__image {
    width: 1100px;
    object-fit: cover;
    object-position:center;
  }
}